*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
body{
    
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.main_heading{
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 10px;
    /* margin-bottom: 80px; */

    
}

.container{
   
    max-width: 400px;
    /* width: 400px;
    min-width: 300px; */
    margin: 20px auto;
    padding: 30px 0;
    border-radius: 9px;
    /* background: rgba(0,0,0,0.5); */
    background-color: black;
    border: 2px solid  #FFFFFF;
    
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.button{
    /* padding: 10px; */
    width: 73px;
height: 75px;
   margin: 2px;
   /* background-color:#343434 ; */
   background: rgba(0,0,0,0.5);
   border-radius: 9px;
   font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
}
.row{
    
    width: 330px;
    margin: 0 auto;
    
}
.green{
    color: #66FF7F;
}

.greenback{
    background: #66FF7F
}

.redback{
    background: #FF5959;
}

.input{
    height: 100px;
    width: 95%;
    margin: 10px auto;
    /* background-color: #151515;
     */
     background: rgba(0,0,0,0.5);
border: none;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 16px;
}

.line{
   margin: 30px auto;
}

@media only screen and (max-width:530px){
.main_heading{
    font-size: 60px;
}
.container{
    max-width: 350px;
}
.row{
    width: 300px;
}

.button{
    width: 63px;
    height: 65px;
}
}